body {
  background-color:#e0ffcd;
  font-family: Arial, Helvetica, sans-serif;
  /*margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;*/
  margin: 1em;
  padding: 0%;
}

.gridcontainer{
  display: grid;
  grid-template-columns: 1fr; 
  padding: 1em;
    grid-template-areas:  
    "header"
    "intro"
    "ingredients"
    "img"
    "how-to"
    "links"
    "footer";
}

@media (min-width: 800px) {
    .grid-container { 
    display: grid;  
    grid-template-columns:33vw 33vw 33vw ;  
    grid-template-rows: 10vh 15vh 20vh 20vh 20vh 15vh ;
}


header {
  background-color: #fdffcd;
  grid-column: span 3;
  grid-row-start: 1;
  grid-row-end: 1;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 200%;
  text-align: center;
}

h2 {
  text-align: center;
}

img {
  border-style: solid;
  width: 30vw;
  height: 42vh;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 6;
  margin-block-start: 2rem;
  margin-inline-start: 1rem;
}

.ingredients {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 7;
  background-color: #ffebbb;
  border-style: dotted; 
  margin: 1em;
  font-size: 110%;
  padding: 1rem;
}

.how-to {
  background-color: #ffcab0;
  height: auto;
  width: auto;
  border-style: dotted;
  margin: 1em;
  font-size: 110%;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 8;
  padding: 1rem;
}

footer {
  text-align: center;
  background-color: #fdffcd;
  margin: 1em;
  grid-column: span 3;
  grid-row-start: 9;
  grid-row-end: 9;
}

.intro {
  margin: 1rem;
  padding: 0,5em;
  font-size: 120%;
  grid-column: span 3;
  grid-row-start: 2;
  grid-row-end: 2;

}

.links {
  text-align: left;
  background-color:  #ffebbb;
  margin: 1em;
  border: solid;
  font-size: 110%;
  grid-column: span 2;
  grid-row-start: 7;
  grid-row-end: 7;
  padding: 1rem;
}
}